.elementor-17 .elementor-element.elementor-element-c08a283:not(.elementor-motion-effects-element-type-background), .elementor-17 .elementor-element.elementor-element-c08a283 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: src="images/index-3-556x382.jpg" 50% 50%;
    background-size: cover;
}
.elementor-17 .elementor-element.elementor-element-c08a283 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    
    margin-bottom: 0px;
    padding: 227px 0px 265px 0px;
}
.elementor-element {
    --widgets-spacing: 20px;
}

.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-section {
    position: relative;
}
.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
}

.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}

section {
    display: block;
}
.entry-content {
    word-wrap: break-word;
    display: flow-root;
}

.elementor-kit-5 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
}
body {
    --wp--style--block-gap: 24px;
}

body {
    margin: 0;
    --wp--style--global--content-size: var(--wp--custom--ast-content-width-size);
    --wp--style--global--wide-size: var(--wp--custom--ast-wide-width-size);
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
.elementor .elementor-background-video-container {
    transition: opacity 1s;
    pointer-events: none;
}
.elementor .elementor-background, .elementor .elementor-background-holder, .elementor .elementor-background-video-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    direction: ltr;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
div {
    display: block;
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
}
.entry-content {
    word-wrap: break-word;
    display: flow-root;
}


.elementor .elementor-background-video, .elementor .elementor-background-video-embed, .elementor .elementor-background-video-hosted {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.elementor .elementor-background-video-embed {
    max-width: none;
}

.elementor embed, .elementor iframe, .elementor object, .elementor video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}

address, blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}


iframe {
    overflow-clip-margin: content-box !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    overflow: clip !important;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    width: 640px;
    height: 360px;
}

.elementor .elementor-background-video-container {
    transition: opacity 1s;
    pointer-events: none;
}
.elementor .elementor-background, .elementor .elementor-background-holder, .elementor .elementor-background-video-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    direction: ltr;
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
}
.entry-content {
    word-wrap: break-word;
    display: flow-root;
}
element.style {
    width: 1422px;
    height: 799.875px;
    top: 0;
    left: 0;
}


